::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: "Montserrat", sans-serif;*/
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* setting the root variables*/
:root {
  box-sizing: border-box;
  width: auto;
  line-height: 1.5;
  color: #8a8f98;
  background-color: #f7f8f8;
  color-scheme: dark;
  font-size: 16px;
  height: 100%;
  --main-color: #f7f8f8;
  --text-color: #95a2b3;
}
.aboutpic {
  background-image: url(images/about_us-bg.jpg);
  opacity: 0.8;
  height: 8vh;
  background-size: 50%;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  font-size: 3em;
  color: #36c0ea;
  text-transform: uppercase;
  align-items: center;
  font-weight: 900;
}
/* header part */
header {
  position: sticky;
  top: 0;
  width: 100%;
}
/* main area */
a {
  text-decoration: none;
  list-style: none;
  color: #36c0ea;
}
a:hover {
  cursor: pointer;
  transition: 0.3s ease-out #0f141d;
  padding: 0.5em;
  background-color: aqua;
  height: 0.5em;
  border-radius: 0.5em;
  scale: 2;
}
.logo {
  border-radius: 50%;
  height: 12vmin;
}
.dept {
  font-size: 0.7em;
  align-items: center;
  height: 7.1em;
  flex-direction: row;
  background: var(--main-color);
  align-items: center;
}
.bout{
  font-size: 1.7em;
}
.bugger{
  position: relative;
  left: 55em;
}
.menu{
  font-size: 4em;
  border: none;
  background-color: transparent;
  color: black;
  position: absolute;
  top: -0.1em;
  border: 0;
  left: 4em;
  background-color: lightblue;
  border-radius: 0.3em;
  text-indent: 5em;
  overflow:hidden;
  white-space: nowrap;
  width: 2em;
  height: 2em;
}
.menu::after{
  top: -0.38em;
  left: 0.18em;
  position: absolute;
  display: block;
  content: "\2261";
  font-size: 2em;
  text-indent: 0;
}
.dept p {
  justify-content: flex-start;
  flex-grow: 2;
  margin: 1.5em 0 1.5em 1em;
}
.dept ul {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  list-style: none;
  margin: auto;
}
.dept ul li {
  font-size: 0.75em;
  margin: 0 1.3em 0 0;
  text-transform: uppercase;
  line-height: 1;
  justify-content: space-around;
  font-weight: 500;
}
li a {
  text-decoration: none;
}
/* first section of the header */

.log {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.6em;
  background-color: hsl(240deg, 70%, 70%);
  height: 12vmin;
}
/* nav task bar text */
.welcometext {
  font-size: 1.4em;
  line-height: 1.2;
  margin: auto 0;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  background: linear-gradient(90deg, hsl(), rgb(166, 231, 248));
}
/* working space */
.main_area {
  margin: 1em;
  cursor: pointer;
}
/* site for our history */
.workspace {
  margin: 0 4em;
}
.our_story {
  background-color: #7f5230;
  border-radius:0 0 1.6em 1.6em;
  width: 100%;
  height: 100;
  padding: 1.2em 2em;
}
.our_story h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0;
  margin-bottom: 0.65em;
  margin-top: 0.2em;
}
.history {
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.2em;
  color: aqua;
}
.points li {
  margin-left: 5em;
}
.version_control {
  background: repeating-linear-gradient(
    43deg,
    #8ae4ff 0px,
    #8ae4ff 50px,
    #f7fffc 30px,
    #f7fffc 80px
  );
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  display: flex;
  flex-direction: column;

}
.misvis {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 1.3em 1.3em;
  cursor: pointer;
}
/* mission statements */
.mission {
  padding-right: 2.1em;
  line-height: 1.6;
  font-size: 1.4em;
  cursor: pointer;
}
.mission h2 {
  text-transform: uppercase;
  color: #8a8f98;
  border-bottom: 4px solid yellow;
  width: 19.8%;
}
.vision {
  line-height: 1.6;
  font-size: 1.3em;
}
.vision h2 {
  text-transform: uppercase;
  color: #8a8f98;
  border-bottom: 4px solid yellow;
  width: 19.8%;
}

.core {
  flex: 1;
  font-size: 1.4em;
  line-height: 1.6;
}
.valus {
  padding: 0 1.3em;
  line-height: 1.4;
  font-size: 1em;
}
.valus h2 {
  text-transform: uppercase;
  color: #8a8f98;
  border-bottom: 4px solid yellow;
  width: 20.8%;
  font-size: 1.518em;
}
/* logo informations */
.about_log {
  background-color: #8a8f98;
}
.loginfo {
  padding: 0 1.3em 0 1.3em;
}
.valus ol {
  padding-left: 5em;
}
.log_part > h3 {
  margin: auto 0;
  padding: 0 0 0 0.55em;
  font-size: 1.5em;
  line-height: 1;
}
.loginfo h2 {
  padding-left: 0.8em;
}
.lo {
  font-size: 1.3em;
  font-weight: 400;
  color: #8ae4ff;
}
.go {
  font-size: 1em;
  font-weight: 600;
  color: #f7fffc;
}
.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 1.2em;
}
.tool1 {
  display: flex;
}
.tool1 p {
  flex-basis: 60%;
}
.tool2 {
  display: flex;
  flex-direction: row-reverse;
}

.tool2 p {
  flex-basis: 60%;
}
.tool3 {
  display: flex;
  flex-direction: row;
}

.tool3 p {
  flex-basis: 60%;
}

/* the footer side */
footer {
  display: flex;
  width: 100%;
  flex: 2;
  background-color: #e7feff;
  backdrop-filter: blur(5px);
  height: 5em;
  border: 2px solid transparent;
}
/* Social media */
.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 50%;
}
.social i {
  margin: 0 1rem;
}
.fa-youtube {
  color: red;
}

.log_part {
  display: flex;
  flex-direction: row;
  margin-left: 1.5em;
}
.foot {
  height: 10vmin;
  border-radius: 50%;
}
