@media only screen and (min-width:12em)
{
    :root {
        box-sizing: border-box;
        width: auto;
        line-height: 1.5;
        color: #8a8f98;
        background-color: #f7f8f8;
        color-scheme: dark;
        font-size: 0.6em;
        height: 100%;
        --main-color: #f7f8f8;
        --text-color: #95a2b3;
      
    box-sizing: border-box;
    }

    header{
        font-size: 0.6rem;
    }
    .bugger{
        left: 37.4em;
    }
    .welcometext{
        font-size: 1.4em;
    }
    .Home{
        margin: 0;
        font-size: 3em;
    }
    .main_area{
        margin-top: 5em;
    }
    .firstpage{
        padding: 0;
    }
    .firstpage h2{
        margin-top: 0;
        padding-top: 1em;
    }
    .firstpage h3{
        color: #27045b;
    font-size: 4em;
    text-align: center;
    }
    .manager{
        margin: 0;
        margin-bottom: 1em;
    }
    p1{
        padding: 0;
    }
    .space{
        flex-direction: column;
    }
    .message{
        padding: 0;
        font-size: 1.5em;
    }
    .read_more{
    text-align: center;
    width: 100px;
    position: relative;
    left: 30%;
    }
    .msg p{
        color: var(--main-color);
    }
    .informationbox{
        flex-direction: column;
    }
    .part1{
        width: calc(100% - 1.2em) ;
    }
    .part2{
        width: calc(100% - 0.1em);
    }
    .weallasone{
        padding: 0 0.5em;
    }
    /*   Everything fashion Department */
    /*     START   */
    .dept1{
        flex-direction: column;
    }
    .dept1 div{
        flex-basis: 50%;

    }
    .fashioncourse{
        font-size: 1.6em;
    }
    .fashioncourse ul li{
        line-height: 1.3;
    }
    .tellus_fastion{
        font-size: 1.9em;
    }
    .info4us_fashion{
        font-size: 1.5em;
        padding: 0 0.5em;
    }
    .cong{
        padding: 0 0.5em;
    }
    .teachers{
        padding: 0;
        font-size: 1.6em;
    }
    .teachers li{
        text-transform: none;
    }
    .teachers li ul{
        font-size: 1.95em;
    }
    .fasintro p{
        font-size:2.2em;
        text-align: center;
        margin: 0.2em;
    }
    .cong{
        font-size: 1.5em;
    }
    .fasintro h4{
        font-size: 3em;
    }

    /*     END    */

      /* Everything about dept3*/
    /*       START    */
    
    .elecintro h4{
        margin: 0;
        color: #a67b5b;
        font-size: 2.8em;
    }
    .elecintro p{
        font-size: 2em;
        text-align: center;
        margin: 0.2em;
    }
    .burgerho{
        position: relative;
        left: 37.4em;
        top: -5.3em;
        font-size: 0.9em;
    }
    .building{
        font-size: 2em;
    }
    .forbuilding{
        font-size: 1.5em;
    }
    .buildingintro h4{
        color: #e33e5a;
        font-size: 2.8em;
        margin: 0;
    }
    .main_area{
        position: relative;
    }
    .zakaria{
        margin: 0 1em;
        position: absolute;
        top: -5em;
    }
    .students_room{
        font-size: 2.4em;
    }
    .students_work{
        font-size: 2.4em;
    }
    .emojie{
        position: relative;
        height: 8.6vmin;
        top: 0.9em;
    }
    .dept3 p{
        text-align: center;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }
      .tellus_building{
          font-size: 1.8em;
      }
     /* Everything about dept4*/
    /*       START    */
    .Weidingintro h4{
        color: #2a52be;
        font-size: 2em;
        margin: 0;
    }
    .dept4{
        font-size: 1.5em;
        padding-bottom: 1.2em;
    }
    .dept4 h4{
        font-size: 2em;
    }
    .tellus_welding{
        font-size: 1.25em;
    }

    .dept4 p{
        text-align: center;
        font-size: 1.2em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }

      .info4us ul{
          font-size: 1.5em;
          line-height: 1.4;
      }
      .info4us ul li{
          padding: 0.5em;
      }
    /*      End   */
    /* everything about dept4 */

    /* Everything depat5 */
    /*   START */
    .dept5{
        font-size: 1.5em;
    }
    .dept5 h4{
        margin: 0;
        color:#eeff1b;
        font-size: 2em;
    }
    .dept5 p{
        text-align: center;
        font-size: 1.3em;
        margin: 0.2em;
    }
    /*   END   */

    /* Everything dept 5 */
    /*    START  */
    .tellus_ict{
        font-size:1.3em ;
    }

    /* Everything dept6 */
    /* START */

    .dept6{
        font-size: 1.11em;
    }
    .dept6 h4{
        color: #2a52be;
        margin: 0;
        font-size: 2.8em;
    }   
    .dept6 p{
        margin: 0.2em;
        font-size: 1.8em;
        text-align: center;
    }
    /* END */
    /* Everything about dept7*/
    /*       START    */
    .dept7{
        font-size: 1.5em;
    }
    .dept7 h4{
        color: #52575d;
        font-size: 2em;
    }
    .dept7 p{
        text-align: center;
        font-size: 1.2em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }
      .tellus_motorpeople{
          font-size: 1.3em;
      }
    /*Everything about department 8 */
    /* START */
    .dept8{
        font-size:1.5em ;
    }
    .dept8 p{
        text-align: center;
        font-size: 1.2em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }
      .tellus_foodpeople{
          font-size: 1.3em;
      }
    .formal_intro{
        font-size: 1.4em;
    }
    /*      END    */
    /* Department 8 ending */
    .statements{
        margin-bottom: 2.4em;
    }
    .tweets{
        margin-top: 6em;
    }
    .tweet_box{
        width: 90%;
        margin-bottom: 4.7em;
        display: flex;
        flex-direction: column;
    }
    .tweet_box > div{
        height: 4em;
    }
    .tweet_box p{
        flex: 1;
        font-size: 1.5em;
    text-align: center;
    }
    .tweet1{
        position: relative;
        padding: 0;
        align-items: center;
        flex-flow: column;
    }

    /* At departments level */

    /* About Us section for responsiveness */
    /*    START    */

    .us{
        margin: 0; 
    }
    .workspace{
        margin: 0;
    }
    .version_control{
        padding-bottom: 2em;
        border-radius: 1em;
    }
    .our_story{
        padding: 1em;
    }
    .our_story h2{
        margin-top: 1.2em;
    }
    .history{
        line-height: 1.4;
        font-size:1.6em;
    }
    .misvis{
        flex-direction: column;
    }
    .mission{
        padding-right: 0;
    }
    .valus p{
        font-size: 1.2em;
    }
    .valus ol{
        padding-left: 0;
        font-size: 1.4em;
    }
    .mission_text{
        font-size: 1.5em;
    }
    .vision{
        font-size: 2em;
    }

    .points li{
        margin-left: 2em;
    }
    /* END */
    .inside{
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
    }

    /* Everything about information Technology */
    /*         START      */
    .fullhouse{
        display: none;
    }
    .offers{
        border-radius: 0 0 0.5em 0.5em;
    }

    .supervisor{
        display: block;

    }
    .dev_pic{
        width: 60vmin;
    }
    .things{
        width: 100%;
    }
    .how_we{
        padding-top: 0;
    }
    .support_cont{
        padding: 0;
    }
    .msg{
        font-size: 1.5em;
    }
    .duration{
        margin-top: -1.2em;
        padding: 0.15em;
        border-radius: 0 0 0.3em 0.3em;
    }
    .one{
        margin-top: -3.5em;
    }
    .two{
        margin-top: -0.1em;
        padding: 0.3em;
    }
    .three{
        margin: -0.1em;
    }
    .advert{
        padding-bottom: 1.2em;
        border-radius: 0 0 0.5em 0.5em;
    }
    .advert p{
        font-size: 1.3em;
    }

    .contact{
        width: 20px;
    }
    .contact p{
        font-size: 1em;
        display: inline-block;
    }
     .cont{
            font-size: 0.5em;
     }
     .log_part{
         font-size: 2.48em;
         flex-basis: 60%;
     }
     .log_part h3{
        font-size: 0.4em;
    }


    /*       END    */
    
}
@media only screen and (width:20em){
    .bugger{
        left: 37.4em;
        top: 0.6em;
        font-size: 0.9em;
    }
    .students_room{
        font-size: 5em;
    }
    .student_work{
        font-size: 5em;
    }
}
@media only screen and (min-width:22.5em) and (max-width:24.3em){
    .bugger{
        left: 46.9em;
    }
}
@media only screen and (min-width:24.35em) and (max-width:25.66em){
    .bugger{
        left: 49.8em;
    }
}
@media only screen and (min-width:25.75em) and ( max-width:25.975em){
    .bugger{
        left: 53.6em;
    }
}
@media only screen and (min-width:26em){
.bugger{
    left: 49.6em;
}
.welcometext{
    font-size: 1.8em;
}
.log_part{
    font-size: 3.79em;
    flex-basis: 70%;
}
.social{
    flex-basis: 30%;
}
}
@media only screen and (min-width:48em){
    .welcometext{
        font-size: 2.6em;
    }
    .bugger{
        display: none;
    }
    .burgerho{
        display: none;
    }
    .informationbox{
        flex-direction: row;
    }
    .quickfind{
        height: 94%;
    }
    .fullpage{
        display: block;
    }
    .log{
        height: 6em;
    }
    .logo{
        height: 100%;
    }
    .log_part{
        font-size: 3.5em;
    }
    .Home{
    font-size: 3em;
    margin-bottom: 1.2em;
    margin-left: 0.5em;
    padding-top: 0;
    margin-top: 0;
    }
    .dept{
        display: flex;
    }
    .fullpage{
        font-size:1.8em ;
    }
    .fullpage ul{
        padding: 0;
        margin: 0;
        font-size: 1.6em;
    }
    .fullpage ul li{
        flex: 1;
        padding: 0.5em;
        width: 11.1%;
        margin-left: 0.8em;
        text-align: end;
        font-size: 0.55em;
        margin-right: 0.8em;
        line-height: 1.4;
    }
    .main_area{
        margin-top: 21em;
    }
    .forbuilding{
        margin-top: 6em;
        font-size: 1.7em;
        width: 300px;
    }
    .zakaria{
        left: 2em;
    }
    .building ul{
        font-size: 1.6em;
    }
    .firstpage > h3{
    text-align: center;
    margin: 1em 2em;
    font-size: 10em;
    color: #301551;
    }
    .peace{
        font-size: 1.3em;
    }
    .firstpage > h2{
        font-size: 5em;
    }
    .dept1{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }
    .dept1 div{
        flex-basis: 50%;
    }
    .dept2{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }
    .dept2 div{
        flex-basis: 50%;
    }
    .dept3{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }
    .dept3 div{
        flex-basis: 50%;
    }
    .dept4{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }
    .dept4 div{
        flex-basis: 50%;
    }
    .dept5{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }
    .dept5 div{
        flex-basis: 50%;
    }
    .dept6{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }
    .dept6 div{
        flex-basis: 50%;
    }
    .dept7{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }
    .dept7 div{
        flex-basis: 50%;
    }
    .dept8{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }
    .dept8 div{
        flex-basis: 50%;
    }
    .ha{
        height: 30em;
    }
    .hb{
        height: 24;
    }
    footer{
        height: 100%;
        font-size: 1.2em;
    }
    .social a{
        padding-right: 1em;
    }
    .log_part{
        font-size: 3.4em;
    }
    .tweet1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .tweet_box{
        width: 30%;
    }
    .classroom_pic{
        background-color: #e33e5a;
        border-radius: 0.5em;
        flex-basis: 50%;
    }
    .inside{
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 0.5em;
        border-radius: 0.5em;
    }
}