::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: "Montserrat", sans-serif;*/
}
* {
  box-sizing: border-box;
}
/* setting the root variables*/
:root {
  box-sizing: border-box;
  width: auto;
  line-height: 1.5;
  color: #8a8f98;
  background-color: #f7f8f8;
  color-scheme: dark;
  font-size: 16px;
  height: 100%;
  --main-color: #f7f8f8;
  --text-color: #95a2b3;
} /* Each dept have the same Id */
#box {
  box-shadow: 0px 0px 15px 0px rgb(14, 12, 12);
  height: 60vmin;
}
.allone {
  margin: 0 auto;
}
.container {
  margin: 0 2em;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.about {
  border-bottom: none;
  margin-top: 3rem;
  font-weight: 700;
  font-size: 2rem;
}
/* header properties */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 3em;
  margin: ;
}
/* main area */
.main_area {
  margin-top: 10em;
}
a {
  text-decoration: none;
  list-style: none;
}
a:hover {
  cursor: pointer;
  transition: 0.3s ease-out #8a8f98;
}
.logo {
  border-radius: 50%;
  height: 12vmin;
}
.dept {
  justify-content: flex-end;
  align-items: center;
  height: 4.1em;
  display: grid;
  font-size: 0.857em;
  background: var(--main-color);
}
.dept ul {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  list-style: none;
  margin: 1.5em 2em 1.5em 3em;
}
li {
  font-size: 0.55em;
  margin: 0 1.2em;
  text-transform: uppercase;
  line-height: 1;
  justify-content: space-around;
}
li a {
  text-decoration: none;
}
/* first section of the header */

.log {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.6em;
  background-color: hsl(240deg, 70%, 70%);
  height: 12vmin;
}
/* nav task bar text */
.welcometext {
  font-size: 1.4em;
  line-height: 1.2;
  margin: auto 0;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  background: linear-gradient(90deg, hsl(), rgb(166, 231, 248));
}
/* first section of the page */
.firstpage {
  opacity: 0.3;
  width: 100%;
  background-color: #fdd5b1;
  background-image: url(/images/enterance.jpeg);
  background-position: center center;
  height: 70vmin;
  padding: 2em;
  margin-bottom: 0.8em;
}
.firstpage > h2 {
  text-transform: capitalize;
  font-size: 3.5em;
  text-align: center;
  font-weight: 900;
  color: hsl(230deg, 100%, 60%);
  text-shadow: black;
  margin-top: 1em;
}
/* section for management */
.manager {
  margin: 2em;
  background-color: #e1e1e1;
  border-radius: 1.5em;
}

.space {
  display: flex;
  flex-direction: row;
  padding: 0.6em 1em;
  width: 100%;
}
.msg {
  font-size: 1em;
  line-height: 0.9em;
  text-transform: capitalize;
}
.msg p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 700;
}
.correct_Pic {
  flex-grow: 2;
}
.message {
  padding: 0.6em;
  font-size: 2em;
  line-height: 0.5em;
  flex-grow: 1;
}
.mana {
  font-size: 1.3em;
  color: rgb(39, 104, 235);
}
.thisis {
  line-height: 1.2;
}

/* information box bot nav */
.informationbox {
  display: flex;
  border-radius: 1em;
  flex-direction: row;
  background-color: #7df;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
.infobox {
  font-size: 0.6em;
  text-align: left;
  margin: 0.6em 0 0.6em 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Arial Narrow Bold";
  background: transparent;
}
.top {
  height: 0.7em;
  margin: 0;

  background-color: #7f5230;
}
.part1 {
  width: calc(40% - 1em);
  margin-right: 1em;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.part2 {
  width: 60%;
}
.course {
  background-color: #2a52be;
  margin: 0.6em 0 0.5em 1em;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  overflow: hidden;
}
/* background color for each dept */
.fas {
  background-color: #00f500;
  border-bottom: 1px solid #00f500;
  margin-bottom: 0;
}
.it {
  background-color: #c7d04b;
  border-bottom: 1px solid #c7d04b;
  margin-bottom: 0;
}
.elec {
  background-color: #a67b5b;
  border-bottom: #a67b5b;
  margin-bottom: 0;
}
.cater {
  background-color: #cf3476;
  border-bottom: #cf3476;
  margin-bottom: 0;
}
.build {
  background-color: rgb(211, 96, 220);
  border-bottom: rgb(194, 76, 214);
  margin-bottom: 0;
}
.auto {
  background-color: #87ceeb;
  border-bottom: #87ceeb;
  margin-bottom: 0;
}
.weliding {
  background-color: #2a52be;
  border-bottom: #2a52be;
  margin-bottom: 0;
}
.plumbing {
  background-color: #8a8f98;
  border-bottom: #8a8f98;
  margin-bottom: 0;
}
/* hyper links section */
.quickfind {
  background-color: #7f5230;
  height: 50vh;
  width: 98%;
  border-radius: 1.5em 0 1em 0;
  margin: 1.2em 2em 0 0;
}
.quickfind li {
  font-size: 0.8em;
  line-height: 5;
  list-style: none;
}
p1 {
  padding: 1em;
  margin: 0.2em;
}
h5 {
  text-transform: uppercase;
  color: var(--main-color);
  align-content: center;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.2em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
  padding: 0.5em 1em;
}

.dept1 {
  background-color: #00f500;
  height: 60vmin;
}
h4 {
  text-align: center;
  font-size: 2.5em;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--main-color);
  font-weight: 700;
  padding-top: 0.5em;
}
/*p {
  position: absolute;
  margin-top: 0.2em;
  left: 38%;
  font-size: 2em;
  animation-name: moving-theme;
  animation-duration: 10s;
}*/
/*moving-theme {
  0% {
    right: 12%;
    color: white;
  }
  12% {
    left: 6%;
    opacity: 0.2;
  }
  35% {
    left: 20%;
    color: green;
  }
  50% {
    color: var(--text-color);
  }
  100% {
    left: 38%;
    color: #f7f8f8;
  }
}
*/
.dept2 {
  height: 60vmin;
  background-color: #a67b5b;
}
.dept3 {
  background-color: #b2ffff;
}
.dept4 {
  background-color: #2a52be;
}
.emojie {
  position: absolute;
  height: 8.6vh;
}
.dept5 {
  background-color: #eeff1b;
}
.dept6 {
  background-color: #2a52be;
}
.dept7 {
  background-color: #87ceeb;
}
.dept8 {
  background-color: #cf3476;
}
/* tweets section */
.statements {
  font-size: 2em;
  color: #87ceeb;
  text-align: center;
  padding-top: 3rem;
  font-weight: 700;
}
.tweets {
  background-color: blur(5px);
  width: 100%;
  color-scheme: dark;
}
.tweet1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 2em;
  flex: 1;
}
.tweet_box {
  background-color: #87ceeb;
  width: calc(33.33% - 1.2em);
  border-radius: 1em;
  margin: 0.4em;
  padding: 2em;
}
/* about us information */

/* the footer side */
footer {
  display: flex;
  width: 100%;
  flex: 2;
  background-color: #e7feff;
  backdrop-filter: blur(5px);
  height: 5em;
  border: 2px solid transparent;
  position: ;
}
/* Social media */
.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 50%;
}
.social i {
  margin: 0 1rem;
}
.fa-youtube {
  color: red;
}

.log_part {
  display: flex;
  flex-direction: row;
  margin-left: 1.5em;
}
.foot {
  height: 10vmin;
  border-radius: 50%;
}
.log_part > h3 {
  margin: auto 0;
  padding: 0 0 0 0.55em;
  font-size: 1.5em;
  line-height: 1;
}
