::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: "Montserrat", sans-serif;*/
}
* {
  box-sizing: border-box;
}
/* setting the root variables*/
:root {
  box-sizing: border-box;
  width: auto;
  line-height: 1.5;
  color: #8a8f98;
  background-color: #f7f8f8;
  color-scheme: dark;
  font-size: 16px;
  height: 100%;
  --main-color: #f7f8f8;
  --text-color: #95a2b3;
} /* Each dept have the same Id */
#box {
  box-shadow: 0px 0px 15px 0px rgb(14, 12, 12);
  height: 60vmin;
}
body{
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='12.2%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='52%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.63'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
margin: 0;
}
.allone {
  margin: 0 auto;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 2em;
  padding-top: 2em;
}

.about {
  border-bottom: none;
  margin-top: 3rem;
  font-weight: 700;
  font-size: 2rem;
}
/* header properties */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 3em;
  z-index: 2;
}
/* main area */
.main_area {
  margin-top: 10em;
}
a {
  text-decoration: none !important;
  list-style: none;
}
a:hover {
  cursor: pointer;
  transition: 0.3s ease-out #0f141d;
  padding: 0.5em;
  background-color: aqua;
  height: 0.5em;
  border-radius: 0.5em;
  scale: 2;
}
.dept ul li:hover{
  background-color: #7f5230;
  scale: 2;
}

.logo {
  border-radius: 50%;
  height: 12vmin;
}
.dept {
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  height: 7.4em;
  background: var(--main-color);
}
.fullpage{
  display: none;
}
.Home{
  font-size: 4em;
  padding-top: 0.3em;
}
.Home a{
  margin-left: 0.5em;
  color: #7df;
  font-weight:600;
}
.bugger{
  position: relative;
  left: 55em;
}
.menu{
  font-size: 4em;
  border: none;
  background-color: transparent;
  color: black;
  position: absolute;
  top: -0.1em;
  border: 0;
  left: 4em;
  background-color: lightblue;
  border-radius: 0.3em;
  text-indent: 5em;
  overflow:hidden;
  white-space: nowrap;
  width: 2em;
  height: 2em;
}
.menu::after{
  /*top: -0.38em;*/
  top: -0.07em;
  left: 0.2em;
  position: absolute;
  display: block;
  content: "\2261";
  font-size: 2em;
  text-indent: 0;
}
.dept ul {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  list-style: none;
  margin: 1.5em 2em 1.5em 3em;
}
li {
  font-size: 0.55em;
  margin: 0 1.2em;
  text-transform: uppercase;
  line-height: 1;
  justify-content: space-around;
}
li a {
  text-decoration: none;
}
/* first section of the header */

.log {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.6em;
  background-color: hsl(240deg, 70%, 70%);
  height: 12vmin;
}
/* nav task bar text */
.welcometext {
  /*font-size: 1.4em;*/
  line-height: 1.2;
  margin: auto 0;
  cursor: pointer;
  color: aliceblue;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
}
/* first section of the page */
.firstpage {
  opacity: 0.5;
  width: 100%;
  background-color: #fdd5b1;
  background-image: url(images/enterance.jpeg);
  background-position: center center;
  height: 70vmin;
  padding: 2em;
  margin-bottom: 0.8em;
  line-height: 1.1;
}
.firstpage > h2 {
  text-transform: capitalize;
  font-size: 3.5em;
  text-align: center;
  font-weight: 900;
  color: hsl(230deg, 100%, 60%);
  text-shadow: black;
  margin-top: 1em;
}
/* section for management */
.manager {
  margin: 2em;
  background-color: #e1e1e1;
  border-radius: 1.5em;
}

.space {
  display: flex;
  flex-direction: row;
  padding: 0.6em 1em;
  width: 100%;
}
.msg {
  line-height: 0.9em;
  text-transform: capitalize;
}
.msg p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 700;
}
.correct_Pic {
  flex-grow: 2;
}
.message {
  padding: 0.6em;
  font-size: 2em;
  line-height: 0.5em;
  flex-grow: 1;
}
.mana {
  font-size: 1.3em;
  color: hsla(180, 83%, 28%, 0.649);
  font-weight: 900;
}
.thisis {
  line-height: 1.2;
}

/* information box bot nav */
.informationbox {
  display: flex;
  border-radius: 1em 1em 0 0;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
.course a {
  text-decoration: none;
}
.infobox {
  font-size: 0.6em;
  text-align: left;
  margin: 0.6em 0 0.6em 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Arial Narrow Bold";
  background: transparent;
}
.top {
  height: 0.7em;
  margin: 0;

  background-color: #7f5230;
}
.part1 {
  width: calc(40% - 1em);
  margin-right: 1em;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.part2 {
  width: 60%;
}
.course {
  background-color: #2a52be;
  margin: 0.6em 0 0.5em 1em;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  overflow: hidden;
}

/* background color for each dept */
.fas {
  border-bottom: 1px solid #00f500;
  margin-bottom: 0;
}
.fastion{
  padding-top: 2em;
}
.fasintro h4{
  color: green;
  margin: 0;
}
.it {
  background-color: #c7d04b;
  border-bottom: 1px solid #c7d04b;
  margin-bottom: 0;
}
.elec {
  background-color: #a67b5b;
  border-bottom: #a67b5b;
  margin-bottom: 0;
}
.cater {
  background-color: #cf3476;
  border-bottom: #cf3476;
  margin-bottom: 0;
}
.build {
  background-color: rgb(211, 96, 220);
  border-bottom: rgb(194, 76, 214);
  margin-bottom: 0;
}
.auto {
  background-color: #87ceeb;
  border-bottom: #87ceeb;
  margin-bottom: 0;
}
.weliding {
  background-color: #2a52be;
  border-bottom: #2a52be;
  margin-bottom: 0;
}
.plumbing {
  background-color: #8a8f98;
  border-bottom: #8a8f98;
  margin-bottom: 0;
}
/* hyper links section */
.quickfind {
  background-color: #7f5230;
  width: 98%;
  font-size: small;
  border-radius: 1.5em 1em 1em 0;
  margin: 1.2em 2em 0 0.4em;
}
.quickfind li {
  font-size: 0.8em;
  line-height: 5;
  list-style: none;
}
p1 {
  padding: 1em;
  margin: 0.2em;
}
h5 {
  text-transform: uppercase;
  color: var(--main-color);
  align-content: center;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.2em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
  padding: 0.5em 1em;
}
h4 {
  text-align: center;
  font-size: 2.5em;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--main-color);
  font-weight: 700;
  padding-top: 0.5em;
}
/* we all as one */
/* START   */
.weallasone{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='12.2%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='52%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.63'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
/* END */ 
/* everything about fastion */
/*     START   */
.fashioncourse{
  font-size: 1.2em;
}
.fashioncourse ul{
  padding: 0;
  list-style: none;
}
.fashioncourse ul li{
  margin: 0.5em 1.2em;
}
.practice{
  font-size: 1.55em;
}
.practice li{
  padding: 0.5em 0;
}
.dept2 {

}
.buildingpeople{
  background-image: url(background/BG.svg);
  background-repeat: repeat;
  background-color:#ee5522 ;
  color: black;
  background-size: auto;
  background-position: center;
  padding: 0.3em;
}
 /* Everything about dept7*/
    /*       START    */
.dept7 h4{
  margin-bottom: 0;
}
/* Everything about department 8 */
/*     START   */
#offood{
  background-color: #9744db;
  padding: 0 0.5em;
  color: black;
  font-size: 1.5em;
}

.dept8 h4{
  color: #cf3476;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
.read_more{
  text-align: center;
}
.read_more button{
  background-color: rgb(239, 239, 239);
  padding: 1em;
  border-radius: 0.5em;
  color: black;
}
.down_arrow::after{
  position: absolute;
  border: 20px black;
  border-color: #0f141d;
}
/*      END   */
/* Department 8 ending */
/* tweets section */

.statements {
  font-size: 2em;
  color: #effbff;
  text-align: center;
  padding-top: 3rem;
  font-weight: 700;
}
.tweets {
  background-image:radial-gradient(#606, #404, #202);
  width: 100%;
  color-scheme: dark;
}
.tweet1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 2em;
  flex: 1;
}
.bg-img{
  position: relative;
  background:linear-gradient(55deg, #880088, #cc3f47, #f09f33) ;
  height: 110px;
  width: 50%;
  border-radius: 50%;
  top: -7em;
  left: 5em;
}
.kings{
  position: absolute;
  width: 100%;
  padding: 0.5em;
  height: 113px;
  top: -0.1em;
  border-radius: 90%;
}
.tweet_box {
  background-color: #87ceeb;
  width: calc(33.33% - 1.2em);
  border-radius: 1em;
  margin: 0.4em;
  padding: 2em;
}
/* about us information */

/* the footer side */
footer {
  display: flex;
  width: 100%;
  flex: 2;
  background-color: #e7feff;
  backdrop-filter: blur(5px);
  height: 5em;
  border: 2px solid transparent;
}
/* Social media */
.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 40%;
}
.social i {
  margin: 0 1rem;
}
.fa-youtube {
  color: red;
}

.log_part {
  display: flex;
  flex-direction: row;
  margin-left: 0.2em;
}
.foot {
  height: 10vmin;
  border-radius: 50%;
}
.log_part > h3 {
  margin: auto 0;
  padding: 0 0 0 0.55em;
  font-size: 1.5em;
  line-height: 1;
}
